body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#table {
	text-align: center;
	width: 40%;
}

th {
    white-space: nowrap;
}

#poemIsLoading {
	align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#bookTitleAndAuthor {
	background-color: red;
}

#sentence {
	color: black;
}